
body {
	background-color: #f9f9f9;
	/*background-image: url('../images/img-noise-361x370.png');*/
}
body p {
	color: #444;
}




.container-top {
	/*background-color: #f1f1f1;*/
	margin-bottom: 10px;
}
.section-top .page-header {
	border-bottom: none;
	margin-bottom: 0;
}
.section-top .page-header .btn-group {
	margin-bottom: 10px;
	margin-top: 10px;
}




.section-content {
	margin-bottom: 100px;
}
.section-content pre {
	border: none;
}





.section-sidebar  {
	margin-bottom: 100px;
}
.section-sidebar h5.text-muted {
	margin-top: 50px;
	font-size: 0.9em;
}
.section-sidebar h5.text-muted:first-child {
	margin-top: 0;
}



.jumbotron-bottom {
	background: #2d2d2d;
	min-height: 300px;
	margin-bottom: 0;
}

.jumbotron-bottom p {
	font-size: 1em;
	color: #fff;
}
.jumbotron-bottom code {
	background-color: #444;
}
.jumbotron-bottom dl dt,
.jumbotron-bottom h4,
.jumbotron-bottom h5 {
	color: #666;
}
.jumbotron-bottom dl dd {
	color: #fff;
}


.input-article-title {
	font-size: 2em;
	font-size: 36px; /* Just like the TW h1 */
	color: #333;
	padding: 0;
	margin-left: -1px;
	height: 78px;
	border: none;
	background: none;
	box-shadow: none;
}

#markdown-editor {
	height: 500px;
}
#markdown-preview {
	height: 500px;
	overflow: hidden;
}

#markdown-editor textarea {
	height: 100%;
	color: #222;
	font-family: monospace;
	border: none;
	padding: 20px 5px 20px 20px;
}

ul.editor-nav li a {
	display: block;
	width: 100%;
	/*background: #eee;*/
	padding: 10px;
	color: #ccc;
}


.blank-holder {
	background-color: #fff;
	padding: 15px;
}

.article-list__item {
	position: relative;
}
.article-list__channel {
	position: absolute;
	right: 5px;
	top: 5px;
}

.article-list__title {
	margin-bottom: 0;
}
.article-list__meta {
	font-size: 0.8em;
	margin-bottom: 10px;
}
.article-list__user-link {
	color: #333;
}
.article-list__channel-link {
	color: #333;
}
.article-list__locked {
	color: #cd3f3f;
	color: black;
}




.navbar-default {
	background-color: #f1f1f1;
	border-bottom: none;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	background-color: #f1f1f1;
	color: #555555;
}



.sb-navbar .sb-toggle-right {
	position: absolute;
	top: 0;
	margin-top: 300px;
	width: 40px;
	height: 80px;
	color: #fff;
	background-color: #222;
	line-height: 80px;
	padding: 0 0 0 15px;
	font-size: 1.5em;

	-webkit-border-top-left-radius: 40px;
	-webkit-border-bottom-left-radius: 40px;
	-moz-border-radius-topleft: 40px;
	-moz-border-radius-bottomleft: 40px;
	border-top-left-radius: 40px;
	border-bottom-left-radius: 40px;
}
.sb-navbar .sb-toggle-right:hover {
	background-color: #222222;
	color: #ccc;
}


#sb-site {
	padding-top: 50px;
	background-color: #f9f9f9;
}

.sb-toggle-left {
	position: absolute;
	padding: 5px 5px 2px;
	z-index: 100000;
}
.sb-toggle-right {
	position: absolute;
	right: 0;
	padding: 5px 5px 2px;
	z-index: 100000;
}
.navicon-line {
	background-color: #ccc; /* Colour of navicon lines. */
}
.sb-navbar {
	box-shadow: none;
}
.sb-right {
	min-width: 250px;
	 width: 30%;
 }



/* Prism syntax highlight */
pre[class*="language-"], *:not(pre) > code[class*="language-"] {
	background: none repeat scroll 0 0 #333;
}
code[class*="language-"], pre[class*="language-"] {
	text-shadow: 0 -0.1em 0.2em #222;
}
pre[class*="language-"] {
	/*box-shadow: 1px 1px 0.5em #000000 inset;*/
	box-shadow: none;
}